/* 	Paphana Yiwsiw 
	6222780379
	CSS326 Lab01 */

div#wrapper {
	min-width:600px;
	padding-top: 0.3em;
	/*Set border to 1pixel solid line with black color*/
	border: 1px solid black;
	/*Set background color to #F2C063*/
	background-color: #F2C063;
	/*Set margin to auto*/
	margin: auto;
	/*Set width to 60%*/
	width: 60%;
	/*Use border-top-left-radius and border-top-right-radius to make round cornors. Set them to 10px*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* border-radius: 10px 10px 0px 0px; */
}
body {	
	font-family:sans-serif;
	/*Set background color to #444444*/
	background-color: #444444;
}

div#div_main{
	position:relative;	
}

div#div_header{
	/*Set font size to 2em, font family to sans-serif, font weight to 700, and font variant to small-caps */
	font-size: 2em;
	font-family: sans-serif;
	font-weight: 700;
	font-variant: small-caps;
	padding:0.4em;
	/*Set bottom border to 1 pixel, solid line, with color #BF491F*/
	border-bottom: 1px solid #BF491F;
}

div#div_subhead{
	/*Set height to other values you like if you want to*/
	height: 0.4em;
	background-color:#F27C38;
	
	/*Set bottom border to 1 pixel, solid line, with color #BF491F*/
	border-bottom: 1px solid #BF491F;
}

div#div_menu{
	width: 25%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	/*Set top padding to 1em so we have more space at the top of the menu*/
	padding-top: 1em;
	border-right: 1px solid #BF491F;
}

div#div_content{	
	/*Set background color to white*/
	background-color: white;
	margin-left:25%; 
	padding:1.2em;
	min-height: 400px;
}

div#div_footer{
	border-top: 1px solid #BF491F;
	/*Set text alignment to center*/
	text-align: center;
	/*Set background color to #F27C38*/
	background-color: #F27C38;
	/*Set padding of all sides to 1em*/
	padding: 1em;
}
/*
div#div_footer:after{
	content: "Theme adapted from http://5digits.org/home";
}
*/
ul#menu{
	/*Set list-style-type to none to remove the bullets*/
	list-style-type: none;
	
	/*Set padding of all sides to 0 so that the menu contacts the left border	*/
	padding: 0;
	border-top: 1px dotted white;
}

#menu li{
	/*Set background color to #F27C38*/
	background-color: #F27C38;
	/*Center the text */
	text-align: center;
}

#menu a{
	display:block;
	/*Set padding of all sides to 0.4em to make larger menu items*/
	padding: 0.4em;
	/*Set bottom border to dottred white 1pixel line.*/
	border-bottom: 1px dotted white;
	/*Set font weight to bold*/
	font-weight: bold;
}

#menu a:link, #menu a:visited{
	/*Set text-decoration to none to remove link underlines*/
	text-decoration: none;
	/*Set font color to black*/
	color: black;
}

#menu a:hover, #menu a:active{
	background-color: #F2C063;
	border-bottom: 1px solid #BF491F;
}

h2{
	color: #BF491F;
	font-weight:bold;
	margin-top:0.4em;
	margin-bottom:0.4em;	
	/*Set bottom border to 1pixel dotted line with color #E47F5A*/
	border-bottom: 1px dotted #E47F5A;
	/*Set left padding to 1em so we have little indentation*/
	padding-left: 1em;
}

.form label{
	display: block;
	/*Align the text to the right*/
	text-align: right;
	/*Set text to bold*/
	font-weight: bold;
	/*Fix the width to 200px.*/
	width: 200px;
	/*Set float property to left so that the labels are on the left of text fields*/
	float: left;
	margin-right:10px;
}

.form input{
	padding: 4px 2px;
	margin: 2px 2px 10px 10px;
}

.form input[type="text"], .form input[type="password"]{
	display:block;
	width:200px;	
}
.form input[type="submit"]{
	display: block;
	/*Set width to 150 pixels to have a big submit button*/
	width: 150px;
}

.form input[type="checkbox"]{
	display:block;
}

.form select{
	padding: 4px 2px;
	display:block;
	margin: 2px 2px 10px 10px;
}

.center{
	text-align:center;
}